fastapi==0.128.0
httpx==0.28.1
langchain_chroma==1.1.0
langchain_core==1.2.7
langchain_google_genai==4.2.0
openai==2.15.0
protobuf==6.33.4
pydantic==2.12.5
PyJWT==2.10.1
python-dotenv==1.2.1
python_magic==0.4.27
Requests==2.32.5
SQLAlchemy==2.0.45
unstructured[pdf,docx]==0.18.21
uvicorn==0.40.0
PyMySQL==1.1.2
pwdlib[argon2]==0.3.0
psycopg2-binary==2.9.11
python-multipart
